﻿@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
*@

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AngularPlusDotNet</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/AngularPlusDotNet/dist/favicon.ico">
    
    <link href="~/AngularPlusDotNet/dist/styles.6a02d2ed47e5d2dec06c.bundle.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/AngularPlusDotNet/dist/inline.4c0d2d08a1b2a670e9d2.bundle.js"></script>
    <script src="~/AngularPlusDotNet/dist/polyfills.c9fac72d3ddb6ae70c54.bundle.js"></script>
    <script src="~/AngularPlusDotNet/dist/scripts.7ca56f5ae2d767d208b7.bundle.js"></script>
    <script src="~/AngularPlusDotNet/dist/vendor.e786e548106e433908a1.bundle.js"></script>    
    <script src="~/AngularPlusDotNet/dist/main.329f73c0ecd0bc3245eb.bundle.js"></script>
    
</body>
</html>
